.quote-of-the-day {
  background: var(--widget-bg);
  color: var(--widget-text);
  border-radius: 10px;
  padding: 12px;
  border: 1px solid var(--widget-border);
}

.card-title {
  font-weight: 600;
  letter-spacing: 1px;
}

.blockquote {
  border-left: 4px solid #fff;
  padding-left: 1rem;
  margin-bottom: 0;
}

.blockquote-footer {
  font-size: 0.90rem;
}

